<?xml version="1.0" encoding="utf-8"?>
 <odoo>
    <data>
        <record id="action_hello_world" model="ir.actions.client">
          <field name="name">Tutorial Demo</field>
          <field name="tag">hello_world.action</field>
        </record>
        <menuitem name="Tutorial..." id="hello_world_menu_root" action="action_hello_world">                                </menuitem>
      </data>
 </odoo>
